
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/* @font-face{
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Regular.ttf') format("truetype")
            local('Tajawal-Regular');

} */

html,
body {
    direction: rtl;
    text-align: right;
}

body {
    font-family: 'Tajawal', sans-serif;


}


.dropdown-menu .dropdown-item {
    text-align: right;
}

/*Start Navbar*/

.btn-login a:hover,
.btn-sigin a:hover {
    color: white !important;
    transition: all 0.3s !important;
}

.btn-login a {
    padding: 7px !important;
    color: white !important;
}


.btn-sigin a {

    padding: 7px !important;
}

/*Start Side Bar*/

.latest-post,
.latest-comment {
    padding: 0 15px;

}

.latest-post .latest-post-item,
.latest-comment .latest-comment-item {
    padding: 6px;

}

.latest-post li:first-child,
.latest-comment li:first-child {
    border-top: 0;
}

.latest-post li:last-child,
.latest-comment li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}


.latest-comment-item a:hover,
.latest-post-item a:hover {
    color: #0074d9 !important;
    text-decoration: none;
    transition: all 0.3s;


}


/*End Side Bar*/


/*Start Comment*/

.comment-count {
    padding-bottom: 0;

}

.comment {
    font-size: 160%;

}

.comment-body {
    font-size: 130%;
}

.comment-info {
    padding-right: 4px;
}

/*End Comment*/


/*Start author info*/

.author-info {
    font-size: 14px;
}

/*End author info*/

.post-info span:last-child {
    text-align: left !important;
}

/*Start Login Form*/

.login-form {
    width: calc(100% - 20px);
    max-width: 500px;
    padding: 50px 40px;
    margin: auto;
    box-sizing: border-box;
}

/*End Login Form*/

.btn-edting{
    float: left;
}
.border-bottom-style{
    border-bottom-color:#FF0000 !important;

}

.border-top-style{
    border-top-color:#FF0000 !important;

}

.image-user{
    position: relative !important;
    width: 100% ;
    max-width: 170px ;
    max-height: 170px ;
    top: -50px;
}

@media screen and (min-width: 200px)
and (max-width: 400px){

    .image-user {
        width: 100% !important;
        max-width: 80px !important;
        max-height: 80px !important;

    }
}

@media screen and (min-width: 401px)
and (max-width: 500px){

    .image-user {
        max-width: 100px !important;
        max-height: 100px !important;
        top: -50px;
    }
}

@media screen and (min-width: 500px)
and (max-width: 800px){

    .image-user {
        max-width: 170px !important;
        max-height: 170px !important;
        top: -100px;
    }
}

@media screen and (min-width: 800px)
and (max-width: 1200px){

    .image-user {
        max-width: 250px !important;
        max-height: 250px !important;
    }
}

@media screen and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1){

    .image-user{
        max-width: 300px  !important;
        max-height: 300px !important;
        top: -150px !important;
    }
}

@media screen and (min-device-width: 1600px) {

    .image-user{
        max-width: 350px  !important;
        max-height: 350px!important;
        top: -180px !important;
    }

}

@media screen and (min-device-width: 3000px) {

    .image-user{
        max-width: 400px  !important;
        max-height: 400px !important;
        top: -280px !important;
    }
}

.user-info{
    margin-top:-10% !important;
}

.user-photo {
    width: calc(100% - 20px) !important;
    box-sizing: border-box !important;
    margin: auto !important;

}

@media screen and (min-device-width: 1863px)
and (max-device-width: 4000px) {

    .user-info{
        margin-top:-8% !important;
    }

}

.user-btn a{
    padding: 10px !important;
}

.back-btn{
    float: left;
}
